---
layout: layouts/base.njk
title: Reminder Panel Design 01
useDefaultHeader: false
hideBanner: true
---
<div class="grid-container">
  <h2>Reminders (bell with red dot if reminders - should this all be expandible - more complex)</h2>

  <p id="ecNoReminders">You have no reminders. (bell icon with strike through)</p>

  <ul id="ecReminders">
    <li>
      <div>
        <p>icon (bell outside box?)</p>
        <p>Priority (switchable </p>
        <h3>
          <span>3&nbsp;</span>Course attendance input{{s}} outstanding</h3>
        <p>Show xxxxx (details summary list of associated content)</p>
        <p>info / guidance</p>
        <p>(icon) Deadline: <span>18th Nov 2022</span></p>
      </div>
    </li>
    <li></li>
    <li></li>
    <li></li>
  </ul>

  <p>TODO:</p>
  <ul>
    <li>remove unused css from head of page.</li>
  </ul>
</div>