---
layout: layouts/base.njk
title: Reminder Panel Design 01 
useDefaultHeader: false 
hideBanner: true 
---
{% if devEnvironment.environment === 'dev' %}
  <div id="lzoToggleButtons">
    <button  id="lzoAddReminders">Toggle reminders</button>
    <button  id="lzoToggleStylesheet">Toggle stylesheet</button>
  </div>
{% endif %}
<h2>Reminders
    <!-- Notifications -->
  {% include "./images/icon-bell-notification.svg" %}
  <!-- No notifications -->
  {% include "./images/icon-bell-no-notification.svg" %}
</h2>
<p id="lzoLoading">{% include "./images/icon-loader.svg" %}Loading</p>
<p id="lzoErrorFeedback">Error!</p>
<!-- No notifications -->
<p id="lzoNoReminders">You have no reminders.</p>
<!-- Notifications -->
<ul id="lzoReminders">
  {# <li>
    <span class="lzo-icon-bell">{% include "./images/icon-bell.svg" %}</span>
    <div class="lzo-priority-high">
      <details>
        <summary>
          <h3>
            <span>3</span>Course attendance input{{s}} outstanding
        </h3>
        </summary>
        <ul>
          <li>Item detail 1</li>
          <li>Item detail 2 blah de blah Item detail 2 blah de blah Item detail 2 blah de blah Item detail 2 blah de blahItem detail 2 blah de blahItem detail 2 blah de blah</li>
          <li>Item detail 3</li>
        </ul>
      </details>

      <div class="lzo-bottom-container">
        <p class="lzo-deadline">{% include "./images/icon-calendar.svg" %}Deadline: 18th Nov 2022</p>
        <button class="lzo-button-guidance">{% include "./images/icon-info-circle.svg" %}Guidance</button>
        <button class="lzo-button-help">{% include "./images/icon-help.svg" %}Help</button>
        <button class="lzo-button-tasks">{% include "./images/icon-arrow-right.svg" %}Go to task</button>
      </div>
      <p class="lzo-guidance">
          You need to complete all the fields required for publication, i.e. those needed in the catalogue, and send this course for approval, so it can be added to the catalogue.
      </p>
    </div>
  </li> #}
  {# <li>
    <span class="lzo-icon-bell">{% include "./images/icon-bell.svg" %}</span>
    <div class="lzo-priority-medium">
      <h3>
        <span>1</span>Course attendance input{{s}} outstanding</h3>
      <div class="lzo-bottom-container">
        <p class="lzo-deadline">{% include "./images/icon-calendar.svg" %}Deadline: 18th Nov 2022</p>
        <button class="lzo-button-guidance">{% include "./images/icon-info-circle.svg" %}Guidance</button>
        <button class="lzo-button-help">{% include "./images/icon-help.svg" %}Help</button>
        <button class="lzo-button-tasks">{% include "./images/icon-arrow-right.svg" %}Go to task</button>
      </div>
      <p class="lzo-guidance">
          You need to complete all the fields required for publication, i.e. those needed in the catalogue, and send this course for approval, so it can be added to the catalogue. 
          <a href="#" target="_blank">Please refer to this help section.</a>
      </p>
    </div>
  </li>
  <li>
    <span class="lzo-icon-bell">{% include "./images/icon-bell.svg" %}</span>
    <div class="lzo-priority-low">
      <h3>
        <span>1</span>Course attendance input{{s}} outstanding a bit longer</h3>
      <div class="lzo-bottom-container">
        <button class="lzo-button-guidance">{% include "./images/icon-info-circle.svg" %}Guidance</button>
        <button class="lzo-button-help">{% include "./images/icon-help.svg" %}Help</button>
        <button class="lzo-button-tasks">{% include "./images/icon-arrow-right.svg" %}Go to task</button>
      </div>
      <p class="lzo-guidance">
          You need to complete all the fields required for publication, i.e. those needed in the catalogue, and send this course for approval, so it can be added to the catalogue. 
          <a href="#" target="_blank">Please refer to this help section.</a>
      </p>
    </div>
  </li>
  <li>
    <span class="lzo-icon-bell">{% include "./images/icon-bell.svg" %}</span>
    <div>
      <h3>
        <span>1</span>Course attendance input{{s}} outstanding very long reminder title very long reminder title very long reminder title very long reminder title</h3>
      <div class="lzo-bottom-container">
        <button class="lzo-button-guidance">{% include "./images/icon-info-circle.svg" %}Guidance</button>
        <button class="lzo-button-help">{% include "./images/icon-help.svg" %}Help</button>
        <button class="lzo-button-tasks">{% include "./images/icon-arrow-right.svg" %}Go to task</button>
      </div>
      <p class="lzo-guidance">
          You need to complete all the fields required for publication, i.e. those needed in the catalogue, and send this course for approval, so it can be added to the catalogue. 
          <a href="#" target="_blank">Please refer to this help section.</a>
      </p>
    </div>
  </li> #}
</ul>

<div id="lzoCloneDaddy">
  <li>
    <span class="lzo-icon-bell">
      <svg xmlns="http://www.w3.org/2000/svg" class="" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M10 5a2 2 0 0 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6"></path>
        <path d="M9 17v1a3 3 0 0 0 6 0v-1"></path>
      </svg>
    </span>
    <div class="lzo-task-container">
      <h3>
        <span></span>
      </h3>
      <details>
        <summary></summary>
        <ul></ul>
      </details>

      <div class="lzo-bottom-container">
        <p class="lzo-deadline">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-calendar-event" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <rect x="4" y="5" width="16" height="16" rx="2"></rect>
            <line x1="16" y1="3" x2="16" y2="7"></line>
            <line x1="8" y1="3" x2="8" y2="7"></line>
            <line x1="4" y1="11" x2="20" y2="11"></line>
            <rect x="8" y="15" width="2" height="2"></rect>
          </svg>Deadline: </p>
        <button class="lzo-button-guidance">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-info-circle" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <circle cx="12" cy="12" r="9"></circle>
            <line x1="12" y1="8" x2="12.01" y2="8"></line>
            <polyline points="11 12 12 12 12 16 13 16"></polyline>
          </svg>Guidance</button>
        <a class="lzo-button-help" href="#" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-help" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <circle cx="12" cy="12" r="9"></circle>
            <line x1="12" y1="17" x2="12" y2="17.01"></line>
            <path d="M12 13.5a1.5 1.5 0 0 1 1 -1.5a2.6 2.6 0 1 0 -3 -4"></path>
          </svg>Help</a>
        <a class="lzo-button-tasks" href="#" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-down-circle" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <circle cx="12" cy="12" r="9"></circle>
            <line x1="8" y1="12" x2="12" y2="16"></line>
            <line x1="12" y1="8" x2="12" y2="16"></line>
            <line x1="16" y1="12" x2="12" y2="16"></line>
          </svg>Go to task</a>
      </div>
      <p class="lzo-guidance"></p>
    </div>
  </li>
</div>
<script src="./main.js"></script>