---
layout: layouts/base.njk
title: Reminder Panel Design 01 
useDefaultHeader: false 
hideBanner: true
---
<div class="grid-container ecrm-container">
  <button  id="ecAddReminders">Toggle reminders</button>
  <h2>Reminders
    <!-- Notifications -->
    {% include "./images/icon-bell-notification.svg" %}
    <!-- No notifications -->
    {% include "./images/icon-bell-no-notification.svg" %}
  </h2>

  <p id="ecNoReminders">You have no reminders.</p>

  <ul id="ecReminders">
    <li>
      <span class="ecrm-icon-bell">{% include "./images/icon-bell.svg" %}</span>
      <div class="ecrm-priority-high">
        <h3>
          <span>3</span>Course attendance input{{s}} outstanding
        </h3>
        <p>Show xxxxx (details summary list of associated content)</p>
        <p>info / guidance. <a href="#">Link to help</a>
        </p>
        <p>(icon) Deadline: <span>18th Nov 2022</span></p>
      </div>
    </li>
    <li>
      <span class="ecrm-icon-bell">{% include "./images/icon-bell.svg" %}</span>
      <div class="ecrm-priority-medium">
        <h3>
          <span>1</span>Course attendance input{{s}} outstanding</h3>
        <p>info / guidance. <a href="#">Link to help</a>
        </p>
        <p>(icon) Deadline: <span>18th Nov 2022</span></p>
      </div>
    </li>
    <li>
      <span class="ecrm-icon-bell">{% include "./images/icon-bell.svg" %}</span>
      <div class="ecrm-priority-low">
        <h3>
          <span>1</span>Course attendance input{{s}} outstanding</h3>
        <p>info / guidance. <a href="#">Link to help</a>
        </p>
        <p>(icon) Deadline: <span>18th Nov 2022</span></p>
      </div>
    </li>
    <li>
      <span class="ecrm-icon-bell">{% include "./images/icon-bell.svg" %}</span>
      <div>
        <h3>
          <span>1</span>Course attendance input{{s}} outstanding</h3>
        <p>info / guidance. <a href="#">Link to help</a>
        </p>
        <p>(icon) Deadline: <span>18th Nov 2022</span></p>
      </div>
    </li>
  </ul>

  <p>TODO:</p>
  <ul>
    <li>remove unused css from head of page.</li>
  </ul>
</div>