---
title: Title
jsFiles: ["./main.js"]
cssFiles: ["./styles.css"]
useDefaultHeader: true
hideBanner: false
breadcrumb: []
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    {% if devEnvironment.environment === 'dev' %}
      <link id="lzoGuideCSS" rel="stylesheet" href="/_shared/css/guide.css">
      <link rel="stylesheet" href="/_shared/css/dev-only.css">
      <link rel="stylesheet" href="../../design-01/styles.css">

    {% endif %}

  </head>
  <body data-is-dev={% if devEnvironment.environment === "dev" %}"true" {% else %}"false"{% endif %}>

    <div class="grid-container lzo-panel-reminder">

      {% if devEnvironment.environment != 'dev' %}
        <style>
          {% include '../../design-01/styles.css' %}
        </style>
      {% endif %}

      {{ content | safe }}

      {% if devEnvironment.environment != 'dev' %}
        <script>
          {% include '../../design-01/main.js' %}
        </script>
      {% endif %}

    </div>

    {% if devEnvironment.environment === 'dev' %}
      <script src="../../design-01/main.js"></script>
    {% endif %}

  </body>
</html>