:root {
  --theme-setting-globalwidth: 1280px;
}

.grid-container {
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  max-width: var(--theme-setting-globalwidth, 1280px);
  margin-left: auto;
  margin-right: auto;
}

@media print, screen and (min-width: 34.4375em) {
}

@media print, screen and (min-width: 50.0625em) {
}

@media screen and (min-width: 80.0625em) {
}
