:root {
  --theme-setting-globalwidth: 1280px;
}

.grid-container {
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  max-width: var(--theme-setting-globalwidth, 1280px);
  margin-left: auto;
  margin-right: auto;
}
